.produtos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    color: var(--preto);

}
.produtos > .card{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--off);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    justify-content: center;
    transition: transform 0.2s;
}
#modo-escuro:checked ~ .paginacomp {
    --branco: #000000;
    --cinzaclaro: #1E1E1E;
    --preto: #E5E5E5;
    --cinzaescuro: #B0B0B0;
    --temapagina: #D6DD0F;
    --hovernav: #393838;
    --off: #121212;
  }
  .paginacomp {
    background-color: var(--branco);
    transition: background-color 0.3s ease;
  }
  #modo-escuro:checked ~ .paginacomp {
    background-color: #000000;
  }
.preco {
    color: #D6DD0F;
    font-weight: bold;
    font-size: 18px;
    margin: 4px 0 8px 0;
    display: block;
}

.card > img{
    max-width: 100%;
    height: 120px;
    object-fit: contain;
}
.card:hover {
    transform: scale(1.03);
  }

.adicionar{
    background-color: #D6DD0F;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 180px;
}
@media (max-width: 1024px) {
    .produtos {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .produtos {
      grid-template-columns: repeat(2, 1fr);
    }
  }