:root{
    --branco: #f1f1f1;
    --cinza: #A6AEA8;
    --preto: #000000;
    --cinzaesc: #393838;
    --roxo: #9370DB;
    --cinzaclaro: #989696;
    --off: #f2f0ef;
    --lilas: #7B68EE;
    --cinzaescuro: #A6AEA8;
    --temapagina: #9370DB;
    --hovernav: #393838;
}
#modo-escuro:checked ~ .paginacomp {
    --branco: #000000;
    --cinzaclaro: #1E1E1E;
    --preto: #E5E5E5;
    --cinzaescuro: #B0B0B0;
    --temapagina: #9370DB;
    --hovernav: #393838;
    --off: #121212;
  }
  .paginacomp {
    background-color: var(--branco);
    transition: background-color 0.3s ease;
  }
  #modo-escuro:checked ~ .paginacomp {
    background-color: #000000;
  }
    
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--cinza);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px var(--preto);
    height: 35px;
    justify-content: space-between;
}

.logo{
    height: 50px;
}

.menu-container{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--hovernav);
}

.menu-container  > a{
    font-size: 18px;
    color: var(--preto);
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}

.menu-container  > a:hover{
    color: var(--cinzaesc);
}

nav{
    background-color: var(--roxo);
    padding: 10px 50px 10px 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 15px;
}

nav a{
    color: var(--preto);
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
    text-decoration: underline;
}

nav a:active{
    font-weight: bold;
}

.hortifruti{
    font-weight: bold;
}

.produto-geral{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 60px;
}
.produto{
    border: 1px solid var(--cinzaclaro);
    padding: 15px;
    background-color: var(--off);
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    gap: 20px;
}
.imagem{
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}
.preco{
    font-weight: bold;
    color: var(--lilas);
}
.descricao{
    font-size: 16px;
    color: var(--preto);
}
.botao{
    background-color: var(--lilas);
    font-weight: bold;
}
.botao-whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.botao-whats-img{
    width: 70px;
    height: 70px;
}
.troca-tema {
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 10px;
    margin-right: auto;
}
.troca-tema {
    position: static; 
    margin: 0 20px;
    cursor: pointer;
    background-color: var(--temapagina);
    color: var(--preto);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
}

#modo-escuro {
    display: none;
}
.faq {
    font-family: 'Arial', sans-serif; 
    font-size: clamp(1rem, 3vw, 1.2rem);              
    color: var(--temapagina);        
    text-align: center;              
    margin: 20px 0 10px 0;                   
    padding-bottom: 15px;
  }
  
  .accordion-total input {
    display: none;
  }
  
  .accordion-total label {
    display: block;
    background-color: var(--temapagina);
    color: var(--preto);
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .accordion-texto {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: var(--cinzagelo);
    color: var(--preto);
    padding: 0 10px;
    font-size: clamp(0.8rem, 2vw, 1rem);
  }
  
  .accordion-total input:checked ~ .accordion-texto {
    max-height: 200px;
    padding: 10px;
  }

footer {
    background-color: var(--cinzaescuro);
    color: var(--preto);
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.final {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.hortifruti{
    font-weight: bold;
}