:root{
    --branco: #f1f1f1;
    --cinzaclaro: #A6AEA8;
    --preto: #000000;
    --cinzamedio: #393838;
    --azulbebe: #87cefa;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--branco)
}

header{
    background-color: var(--cinzaclaro);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px var(--preto);
    height: 35px;
    justify-content: space-between;
}

.logo{
    height: 50px;
}

.menu-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-container  > a{
    font-size: 18px;
    color: var(--preto);
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}

.menu-container  > a:hover{
    color: var(--cinzamedio);
}

nav{
    background-color: var(--azulbebe);
    padding: 10px 50px 10px 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 15px;
}

nav a{
    color: var(--preto);
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
    text-decoration: underline;
}

nav a:active{
    font-weight: bold;
}